@using LoginTest.Models;
@model IEnumerable<BaiViet>

@foreach (var item in Model)
{
    <ul class="partial partial--1 partial--full forLM">
        <li class="partial__1">
            @if (item.AnhBia != null)
                {
                    var base64 = Convert.ToBase64String(item.AnhBia);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                <div class="img-wrapper"><a href="@Url.Action("DetailBaiViet","NguoiViet",new { @idBaiViet = @item.C_idBaiViet })"><img src="@imgsrc" class="scrop" alt=""></a></div>
            }
            else
            {
                <div class="img-wrapper"><a><img src="~/Content/images/t1.jpg" alt="" class="scrop"></a></div>
            }
        </li>

        <li class="partial__2">
            <p class="partial__title"><a href="@Url.Action("DetailBaiViet","NguoiViet",new { @idBaiViet = @item.C_idBaiViet })" class="title">@item.TieuDe</a></p>
            <p class="partial__content"><a href="@Url.Action("DetailBaiViet","NguoiViet",new { @idBaiViet = @item.C_idBaiViet })" style="color:black">@item.TomTatNoiDung</a></p>
            <div class="partial__name">
                <a href="@Url.Action("HomeNguoiViet","NguoiViet",new {@idUser = item.User.C_idUser})"><img src="@item.User.Hinh"></a>
                <a href="@Url.Action("HomeNguoiViet","NguoiViet",new {@idUser = item.User.C_idUser})">@item.User.HoTen</a>
            </div>
            <p class="partial__view">@item.SoLanXem 1000 views</p>
        </li>
    </ul>
}

<div class="loadMore"><a href="#" id="loadMore">Load More</a></div>
