@model LoginTest.Models.BinhLuan
@{
    ViewBag.Title = "ThemBinhLuan";
}
@using (Html.BeginForm("ThemBinhLuan", "NguoiViet", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (@Session["HoTen"] != null && @Session["QuyenID"] != null)
    {
        <section class="detail__addcom clearfix">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.TextAreaFor(model => model.NoiDung, new { @class = "stextarea", @rows = 1, @placeholder = "Thêm bình luận...", @onkeyup = "textAreaAdjust(this)" })
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger", style = "font-size: 50px" })

            <input type="submit" value="NHẬN XÉT" class="send" />
        </section>
    }
}
